@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right,#d4d3dd, #efefbb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cabecalho {
    padding: 6px;
    display: flex;
    background-color: #FFBB64;
    justify-content: flex-start; 
    align-items: center;
    width: auto;
}

.imgRedesocial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.imagemGitHub {
    width: 28px;
    height: 28px;
    position: relative;
    left: 20px;
    justify-content: space-between;
}

.imagemLinkedin{
    width: 33px;
    height: 33px;
    left: 30px;
    position: relative;
}



.cabecalho__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    

   

}

.cabecalho__menu__link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-family: "Anta", sans-serif;
    font-weight: 800;
    font-style: normal;
    padding-left: 20px;
    
}


.cabecalho__menu__link:hover{
    color: #FF6868;
}

.barraBuscar {
    display: flex;
    justify-items: center;
    gap: 10px;
    padding-left: 840px;
}

.barraTexto{
    border: solid 2px black;
    font-family: "Anta", sans-serif;
    padding-right: 20px;
    
}

.barraHeader{
    padding-left: 700px;
}

.botaoPequisar{
    border: solid 2px black;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-size: medium;

}

.botaoPequisar:hover{
    color: #FF6868;

}
.titulo{
display: flex;
align-items: center;
justify-content: space-between;
gap: 5px;
}

.imagemPokedex{
    width: 35px;
    height: 35px;

}


h1 {
    letter-spacing: 5px;
    font-family: "Anta", sans-serif;
    font-style: normal;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    letter-spacing: 5px;
    font-family: "Anta", sans-serif;
    font-style: normal;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

p{
    font-family: "Anta", sans-serif;
    font-style: normal;
    font-weight: 800;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    width: 50%;
    padding-bottom: 20px;
}



.pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;

}

.pokemon {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgb(100, 100, 100 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-family: "Anta", sans-serif;


}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;

}

.imgContainer img {
    max-width: 90%;
    
}

.info {
    margin-top: 20px;
    font-family: "Anta", sans-serif;
}

.number {
    background-color:  rgba( 0, 0, 0, 0.15);
    padding: 2px 13px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-family: "Anta", sans-serif;

}

.nome {
    margin: 15% 0 7px;
    letter-spacing: 1.5px;
    font-family: "Anta", sans-serif;
}


.btAP{
    font-size: 0.8rem;
    font-family: "Anta", sans-serif;
    text-align: center; 
}

.btAP:hover{
    color: #FF6868;
}

.rodape{
    display: flex;
    text-align: center;
    font-family: "Anta", sans-serif;
    margin-bottom: 20px;

}


@media (max-width: 1200px) {
    .cabecalho {
        padding: 25px;
        display: flex;
        flex-direction: column;
 }
     .cabecalho__menu {
         justify-content: column;
 
     }
     
     .barraBuscar{
        display: flex;
        flex-direction: column;
        justify-content: right;
        padding-right: 810px;
        padding: 20px;
        
     }

     .barraTexto {
        flex-direction: column;
        justify-content: column;
    
     }

     .imagemGitHub{
        padding: 5px;
        position: relative;
        left: 1px;
    
        
     }

     .imgRedesocial{
        align-items: center;


     }

     .imagemLinkedin{
        position: relative;
        left: 5%;
        padding-top: 5px;

     }

    
}
